.btn {
    font-size: 1rem;
    padding: 0.5rem 0.5rem;
    border-radius: 5px;

}

.btn-primary {
    color: #17733A;
    position: relative;
    border: 2px solid #17733A;
}

.btn-secondary {
    color: #fff;
    background: #17733A;
    position: relative;
    border: 2px solid #fff;

}



@media screen and (min-width: 768px) {
    .btn {
        font-size: 0.5rem;
        padding: 0.5rem 1rem;
    transition: all 0.3;

    }
}
@media screen and (min-width: 1024px) {
    .btn {
        font-size: 1rem;
        padding: 0.5rem 1rem;
        transition: all 0.3s;    
        
    }
    .btn::after {
        content: url(../assets/chevron-right-solid-white.svg);
        font-weight: 400;
        position: absolute;
        left: 85%;
        top: 24%;
        opacity: 0;
    }
    .btn:hover {
        padding: 0.5rem 2.5rem 0.5rem 1rem;
        border: 0;
    
    }
    
    .btn:hover::after {
        opacity: 1;
    }
   
    .btn-primary::after {
        content: url(../assets/chevron-right-solid-green.svg);
    }
    
    .btn-primary:hover {
        background-color: lightgray;
    }
    .btn-secondary:hover {
        color: #fff;
        background-color: #146834;
    }
    
  
}