.hero-banner {
    box-sizing: border-box;
    display: flex;
    flex-grow: 1;
    width: 100vw;
    background-image: url("../assets/Pivot-Image-w_1160.jpg");
    background-repeat: no-repeat;
    background-size: cover;
};
.grid {
    width: calc(100% - 160px);
}

.hero-text {
    top: 105px;
    left: 25px;
    font-size: 8px;
}
@media screen and (min-width: 400px) {
    .hero-text {
        font-size: 10px;
        top: 115px;
        left: 35px;
    }
}
@media screen and (min-width: 700px) {
    .hero-text {
        font-size: 18px;
        top: 205px;
        left: 50px;
    }
}
@media screen and (min-width: 700px) {
    .hero-text {
        top: 250x;
        left: 50px;
    }
}
@media screen and (min-width: 1000px) {
    .hero-text {
        font-size: 30px;
        top: 330px;
        left: 80px;
    }
}
@media screen and (min-width: 1200px) {
    .hero-text {
        font-size: 35px;
        top: 350px;
        left: 80px;
    }
}

@media screen and (min-width: 1400px) {
    .hero-text {
        font-size: 35px;
        top: 390px;
        left: 80px;
    }
}
@media screen and (min-width: 1600px) {
    .hero-text {
        font-size: 35px;
        top: 420px;
        left: 80px;
    }
}
@media screen and (min-width: 1800px) {
    .hero-text {
        font-size: 40px;
        top: 480px;
        left: 90px;
    }
}
@media screen and (min-width: 1920px) {
    .hero-text {
        font-size: 48px;
        top: 500px;
        left: 80px;
    }
}
@media screen and (min-width: 2500px) {
    .hero-text {
        font-size: 60px;
        top: 680px;
        left: 100px;
    }
}